{% load static %}
{% static "images" as imgUrl %}
<!DOCTYPE html>

<html lang="en">

<head>
  <title>DropShipping Title Pending</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'jquery.tabletoCSV.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Added padding for buttons -->
  <style>
      li {
        padding-left:5px;
        padding-bottom:5px;
      };
      h3 {
        padding-top: 50px;
      };
  </style>
</head>
<body>
  
<!-- Collapsable Fixed Navigation Bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#"><img src="dropshipultimateguidecover.png" alt="Logo" style="width:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn btn-info" style="color:rgb(0, 0, 0);" href="#">My Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" style="color:black;" href="#">Manage Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" style="color:black;" href="#">Import/Export</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" style="color:black;" href="#">Account Settings</a>
      </li>
    </ul>
  </div>
</nav>
</br>

<!-- My Store -->
<div class="container" style="margin-top:80px" >
  <h3 class="display-3">My Store</h3>
  <h5 class="display-5">Here you can view and select store items</h5>
  <!-- Responsive table and load data -->
  <div>
    <div class="buttons_div" align="center">
      <button class="btn btn-info" align="right" id="export" data-export="export">Export csv</button> 
      <button class="btn btn-info" align="left" id="load_json">Load Store</button>
    </div>
    <div>
      <input type="checkbox" class="custom-control custom-checkbox" id="checkAll" name="checkAll">  Select All </input>
    </div>
    <br/>
    <div id="template_table" class="table-responsive">

    </div>
  </div>
  <br/>
</div>

</body>
</html>

<script>
  $(document).ready(function(){
    $('#load_json').click(function(){
      $.ajax({
        url:"{% static 'product_data.json' %}",
        type: 'GET',
        crossDomain: true,
        dataType:"json",
        success:function(data)
        {
          console.log(data.Ui[1]);
          var table_data = '<table class="table table-dark">';
          for(var count=0; count <= data.Ui.length; count++)
          {
            if(count === 0) {table_data += '<thead>';}
            if(count === 1) {table_data += '<tbody>';}
            table_data += '<tr>';
            for(var cell_count = 0; cell_count < Object.keys(data).length + 1; cell_count++)
            {
              // if first row and first cell put the symbol #
              if(count === 0 && cell_count === 0)
              {
                table_data += '<th>#</th>';
              }
              // Initializes headers for table
              else if(count === 0 && cell_count === 1)
              {
                table_data += '<th>Title</th>';
              }

              else if(count === 0 && cell_count === 2)
              {
                table_data += '<th>Price</th>';
              }

              else if(count === 0 && cell_count === 3)
              {
                table_data += '<th>Availability</th>';
              }

              else if(count === 0 && cell_count === 4)
              {
                table_data += '<th>Asin</th>';
              }

              else if(count === 0 && cell_count === 5)
              {
                table_data += '<th>Product Image</th>';
              }
              // if not first row and first cell then implement button
              else if(count != 0 && cell_count === 0)
              {
                table_data += '<td><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck'+count+'"/><label class="custom-control-label" for="customCheck'+count+'">'+count+'</label></div></td>'
              }

              else if(count != 0 && cell_count === 5)
              {
                table_data += '<td><img src="'+ data.Image_link[count-1] +'" alt="'+ data.Ui[count-1] +'" style="width:150px; height:150px"></td>';
              }
              else if(count != 0 && cell_count === 1)
              {
                table_data += '<td>'+data.Title[count -1] +'</td>';
              }
              else if(count != 0 && cell_count === 2)
              {
                table_data += '<td>'+ data.Price[count-1] +'</td>';
              }
              else if(count != 0 && cell_count === 3)
              {
                table_data += '<td>'+ data.Availability[count-1] +'</td>';
              }
              else if(count != 0 && cell_count === 4)
              {
                table_data += '<td>'+ data.Ui[count-1] +'</td>';
              }
            }
            table_data += '</tr>';
            if(count === 0) {'</thead>';}
            if(count === data.length) {'</tbody>';}
          }
          table_data += '</table>';
          $('#template_table').html(table_data);
        }
      });
    });
  });  
  $("#checkAll").change(function(){
    $(".custom-control-input").prop("checked", $(this).prop("checked"));
  });
  $(".custom-control-input").change(function() {
    if ($(this).prop("checked" == false)) {
      $("#checkAll").prop("checked", false)
    };
    if ($(".custom-control-input:checked").length == $(".custom-control-input").length) {
      $("#checkAll").prop("checked". true)
    };
  });


  $("#export").click(function(){
    $("table").tableToCSV();
  });
</script>